body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left-half {
    flex: 1;
    background-image: url('https://images.unsplash.com/photo-1632516643720-e7f5d7d6ecc9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2022&q=80'); /* Replace with your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding: 40px;
}

.right-half {
    flex: 1;
    background-color: #010101;
    padding: 40px;
}

.content {
    text-align: center;
}

h1 {
    color: aqua;
    font-size: 36px;
    margin-bottom: 10px;
}

.signup-form {
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    color: rgb(0, 255, 145);
    font-size: 24px;
    margin-bottom: 20px;
}

h3 {
    color: rgb(0, 255, 145);
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 100;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #0b6f42;
}

@media (prefers-color-scheme: dark) {
    input[type="text"],
    input[type="email"] {
        background-color: #333; /* Change to the appropriate dark mode color */
        color: #fff; /* Text color for dark mode */
        border: 1px solid #555; /* Border color for dark mode */
    }
}

button {
    background-color: #20a053;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0b6f42;
}

p {
    text-align: center;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h4 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-size: 18px;
    margin-bottom: 20px;
}